<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <!-- <p>Form value: {{form.value | json}}</p>
    <p>Form valid: {{form.status | json}}</p> -->
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Descrição</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid': f.descricao?.errors && f.descricao?.touched}" formControlName="descricao" placeholder="Insira a Descrição">
          <div *ngIf="f.descricao?.errors?.required" class="invalid-feedback">
            Descrição é obrigatória.
          </div>
          <div *ngIf="f.descricao?.errors?.minlength" class="invalid-feedback">
            Descrição deve ter no mínimo 4 caracteres.
          </div>
          <div *ngIf="f.descricao?.errors?.maxlength" class="invalid-feedback">
            Descrição deve ter no máximo 50 catacteres.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Valor</label>
          <input type="number" format="currency" precision="2" class="form-control" [ngClass]="{'is-invalid': f.preco?.errors && f.preco?.touched}" formControlName="preco" placeholder="">
          <div *ngIf="f.preco?.errors?.required" class="invalid-feedback">
            Preço é obrigatório
          </div>
        </div>

      </div>

    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid" (click) ="salvarEvento()">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
